In [6]:
# Integers
age= 19
# Strings
how_old= "How old is Connor"
# Floats
actual_age= 19.16
# Boolean
is_almost_20= False

print(how_old)
print(age)

if age:
    print(how_old)
    print(is_almost_20)
    print(actual_age)
else: 
    print("All good")

How old is Connor
19
How old is Connor
False
19.16

In [7]:
cars= 12
people= 27

print(cars + people)
print(cars - people)
print(cars * people)
print(cars / people)
print(cars % people)

39
-15
324
0.4444444444444444
12

In [8]:
books= 22
pencils= 35
print(books + pencils)

57

In [9]:
# Change this variable into a string and print
number_into_string = 37
# Change this variable into a integer and print
string_into_number = '10'
# Change this variable into a float a print
string_into_float = '299.99'
# Change this variable into a boolean and print 
number_into_boolean = 37
print(number_into_boolean)
print(number_into_string)
print(string_into_float)
print(string_into_number)

37
37
299.99
10

In [10]:
# List
counties= ('Dutchess', 'Putnam', 'Orange', 'Westchester')
print(counties)

('Dutchess', 'Putnam', 'Orange', 'Westchester')